@import (inline) "milligram.min.css";

html, body {
  background: #2c2f34;
  color: #f2f2f2;
  margin: 0;
}

input {
  color: #f2f2f2;
}

ul.simpleList {
  padding: 0;
  list-style-type: none;
}

#roomList li {
  border: 2px solid #dedede;
  /* background-color: #f1f1f1; */
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.scrollable {
  overflow-y: auto;
}

nav {
  background-color: #17191c;
  /* margin-bottom: 0px; */
  /* position: fixed; */
  width: 100%;
  z-index: 3;
  font-size: 2em;
  overflow: hidden;
}

nav * {
  padding: 0px 12px;
}

/* Style navigation menu links */

#hamburger {
  float: left;
  text-decoration: none;
}

#ellipsis, #searchIcon {
  float: right;
  text-decoration: none;
}

.navTitle {
  float: left;
}

/* .navigation .title, */
/* .navigation-title { */
/*   color: #f2f2f2; */
/* } */
/*  */
/* .navigation { */
/*   background: #34373c; */
/*   border-bottom: 0.1rem solid #1b1c1d; */
/* } */
/*  */
/* .header { */
/*   background-color: #141518; */
/* } */
/*  */
/* pre { */
/*   background: #141518; */
/* } */
/*  */
/* .prettyprint { */
/*   color: #f2f2f2; */
/* } */
/*  */
/* .prettyprint.lang-md * { */
/*   color: #f2f2f2 !important; */
/* } */
/*  */
/* code { */
/*   background: #141518; */
/* } */
/*  */
/* .prettyprint .atv { */
/*   color: rgba(73, 158, 223, 1); */
/* } */
